---
import BigNumber from "bignumber.js";
import { Currency, type Account, type AccountParameters } from "../../types";
import { formatAmount } from "../../utils";
interface Props {
  data: Account[];
  parameters: AccountParameters;
}

const { data, parameters } = Astro.props;
---

<div class="wrapper">
  <div class="list-wrapper">
    {
      data.map((account) => (
        <div class="investment-wrapper">
          <div class="row-data">
            <div>{account.currency}</div>
          </div>
          <div class="row-data">
            <div>Amount: <span>{formatAmount(account.activeAmount, account.currency, true, account.currency === Currency.Eth ? 8 : undefined)}</span></div>
            <div>Reward: <span>{formatAmount(new BigNumber(account.activeAmount).multipliedBy(parameters[account.currency].weeklyPercentage).toString(), account.currency, true, account.currency === Currency.Eth ? 8 : undefined)}</span></div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    font-size: 1.5rem;
  }
  .list-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .investment-wrapper {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .investment-wrapper div{
    display: flex;
    justify-content: space-between;
  }

  .row-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .row-data div {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  @media only screen and (max-width: 768px) {
    .wrapper {
      max-width: calc(100% - 2rem);
      flex: 1;
      margin: 0 auto;
      padding: 0;
      padding-top: 1rem;
    }
    .list-wrapper {
      width: 100%;
    }
  }
</style>
