---
import { Currency, MarketPrices } from "../../types";
import { formatAmount } from "../../utils";
interface Props {
  prices: MarketPrices;
}

const { prices } = Astro.props;
---

<div class="wrapper">
  {Object.values(Currency).map((currency) => (
    <div class="item">
      <span class="currency-name">{currency}</span>
      <span class="currency-value">{formatAmount(prices[currency], Currency.Eur, false, currency === Currency.Usdc ? 4 : undefined)}</span>
    </div>
  ))}
</div>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    max-width: 250px;
    gap: 0.4rem;
  }

  .item {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
  }
</style>
