---
import { Icon } from "astro-icon";
import Section from "../Section.astro";
---

<Section title="contact" anchor="contact">
  <p class="text">
    If you want to contact me, just send me an email to
    <a href="mailto: jmn8718@gmail.com">jmn8718@gmail.com</a>
     or contact me at
  </p>
  <div class="icons_wrapper contact_icons">
    <a href="mailto: jmn8718@gmail.com" target="_blank">
      <Icon pack="fa" name="envelope" size={40} /></a
    >
    <a href="https://www.linkedin.com/in/jm8nav/" target="_blank">
      <Icon pack="fa" name="linkedin" size={40} />
    </a>
    <a href="https://medium.com/@jmn8718" target="_blank">
      <Icon pack="fa" name="medium" size={40} />
    </a>
    <a href="https://github.com/jmn8718" target="_blank">
      <Icon pack="fa" name="github" size={40} />
    </a>
    <a href="https://gitlab.com/users/jmn8718" target="_blank">
      <Icon pack="fa" name="gitlab" size={40} />
    </a>
  </div>
</Section>

<style>
  .icons_wrapper {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin: 16px;
    width: fit-content;
  }
  .icons_wrapper a {
    margin: 0 8px;
  }
  .text {
    text-align: center;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .icons_wrapper {
      gap: 0.5rem;
    }
  }
</style>
