---
import Section from "../Section.astro";
---

<Section title="education" anchor="education">
  <div class="wrapper">
    <p>
      I earned my degree in Software Engineering from UPM, Madrid. During my
      studies, I took courses on Unix systems, programming with languages like
      C++, Java (the primary language), web development, and Android
      applications. The main focus of the program was on managing software, with
      courses on project management, agile techniques, design programs, testing,
      and quality.
    </p>
    <p>
      In my final year, I participated in a group project as an intern where I
      developed a desktop application for refactoring source code when a change
      was made in the SQL queries. This internship helped me write the project
      for my graduation.
    </p>
    <p>
      After completing my undergraduate degree, I pursued a Master's in Computer
      Engineering with a specialization in Distributed Software and Services.
      During this program, I attended more specialized classes in Computer
      Engineering and learned about new cloud technologies and distributed
      systems. I also completed an internship as a full-stack developer on a
      university project.
    </p>
    <p>
      Before university, I completed a two-year professional formation in
      Maintenance and Management of Industrial Equipment. This program taught me
      how to manage industrial equipment, develop quality assurance plans,
      manage the development process, and oversee projects where I managed and
      developed all the stages (planning, development, testing).
    </p>
  </div>
</Section>

<style>
  .wrapper {
    text-align: left;
  }
  br {
    line-height: 2rem;
  }
</style>
