---
import Section from "../Section.astro";
import WorkBlock from "../WorkBlock.astro";

---

<Section title="experience" anchor="experience">
  <WorkBlock
    companyName="Criptan"
    period="January 2021 - Present"
    location="Remote - Seoul 🇰🇷"
    role="Software Engineer"
  >
    As a Senior Software Engineer <a href="https://www.criptan.es/?lang=en" target="_blank">Criptan</a>, I am responsible for developing backend services using serverless Lambda functions with Node.js and TypeScript. To define and deploy the architecture of the services, we utilize the AWS Cloud Development Kit (CDK). Our services are built using a variety of AWS tools and services, including Lambda, ECS, DynamoDB, queues, and event buses, to create an event-based architecture.
    <br />
    We utilize both SQL and DynamoDB for our database needs, and we leverage events from the database records to perform other operations.
    <br />
    As a key member of the team, I am responsible for developing core projects from the ground up and spearheading the refactor of our core business logic from PHP to TypeScript. I also collaborate closely with our operations and product owners to carefully review and refine development requirements, ensuring our solutions are aligned with our clients' needs.
  </WorkBlock>
  <WorkBlock
    companyName="Threelabs"
    period="August 2019 - January 2021"
    location="Seoul 🇰🇷"
    role="Software Engineer"
  >
    During my time at
    <a href="https://plingo.io/" target="_blank">Plingo</a>
    as Software Engineer, I played a key role in developing the architecture and services for our mobile application. I worked on various stages of the development flow, including designing and discussing new functionalities, designing API endpoints for the mobile app, and developing and testing new functionalities on the backend.
    <br />
    To optimize performance, I also refactored existing codebase on the backend. Our backend services were built using Node.js with MongoDB (with Mongoose) and Redis for websockets with Socket.io, as well as caching for database queries. I also configured and managed different services on AWS, including deploying the backend service using Docker, ECS, Lambda, and CodePipeline.
    <br />
    Additionally, I developed and maintained Lambda functions for internal services, and worked on refactoring and developing new functionalities for the mobile app using React Native. I also contributed to the development of new functionalities for the admin client built with React-Admin, I deployed it to S3 and CloudFront using CodePipeline.
    <br />
    Overall, my role involved ensuring the smooth and efficient functioning of the backend services, and continually improving the performance and functionality of the application.
    <br />
  </WorkBlock>
  <WorkBlock
    companyName="Auth0"
    link="https://auth0.com/"
    period="September 2018 - July 2019"
    location="Remote - Madrid 🇪🇸"
    role="Software Engineer"
  >
    I began my time at Auth0 working on the Sustainment team, where I analyzed the codebase to identify the root cause of issues. This involved closely analyzing various projects and workflows to determine the nature of the problem. I worked closely with members of other teams to devise the best possible solutions, and then implemented the necessary changes to address the issues at hand.
    <br />
    To help my team in the future, I wrote internal posts that documented my thought process and actions, providing a valuable resource for my colleagues. Additionally, as our team was remote-based, I occasionally served as the "concierge," helping other members of Auth0 when they needed assistance and managing my time effectively during internal incidents.
    <br />
    Subsequently, I transitioned to the Protocols and Sessions core team, where I was part of a team responsible for working on various protocols integrated into the system and managing sessions. This role involved a deep understanding of the technical architecture and how different protocols interacted with one another. Overall, my experience at Auth0 enabled me to hone my analytical skills and work collaboratively with a diverse team to tackle complex engineering challenges.
  </WorkBlock>
  <WorkBlock
    companyName="Bitholla"
    link="https://bitholla.com/"
    period="July 2017 - June 2018"
    location="Remote - Madrid 🇪🇸 /Seoul 🇰🇷"
    role="Lead Software Engineer"
  >
    I began my tenure as a Full Stack Engineer and within three months, was promoted to Lead Software Engineer. In this role, I was responsible for designing, developing, and deploying our cryptocurrency platform. Our team built both a crypto exchange and a trading platform for cryptocurrencies using different crypto exchanges. Node.js was used for server-side development, while React and Redux were used for client-side development. As the systems were live, websockets were implemented to facilitate communication between the server and client.
    <br />
    My primary responsibilities included designing the crypto exchange, developing APIs using Node.js, Express, and Swagger, and deploying the platform on AWS and Docker. Additionally, I worked with Postgresql, Redis, and MongoDB to manage databases and implemented socket.io to ensure seamless websockets connectivity. Lastly, I was responsible for developing SPAs using React and websockets.
    <br />
    Overall, my experience in leading the development of a cryptocurrency platform allowed me to expand my skill set and gain valuable experience in designing, developing, and deploying live systems with cutting-edge technologies.
  </WorkBlock>
  <WorkBlock
    companyName="Famoco"
    link="https://www.famoco.com/"
    location="Brussels 🇧🇪"
    period="July 2016 - July 2017"
    role="Fullstack developer"
  >
    I led the development of a Single Page Application (SPA) using React, Redux, and Redux-Sagas. The project involved porting an existing Django and Bootstrap application to React while adhering to Material Design guidelines and consuming the API developed by our backend team. Working closely with the Backend team, we utilized Agile methodologies for development. I also developed Android applications (as our devices used Android) using React Native, and web applications with React to test future features for our main app. For these projects, I developed servers with Node.js, implementing either a REST API or a GraphQL server. To facilitate deployment, I utilized Docker.
  </WorkBlock>
  <WorkBlock
    companyName="Beeva"
    period="May 2015 - July 2016"
    location="Madrid 🇪🇸"
    role="Fullstack developer"
  >
    During my time at bbvaapimarket.com, I was part of a Scrum team that developed a portal for managing API access. Initially, my task involved developing Selenium tests to ensure the product met the Product Owner's requirements. After gaining a better understanding of the project, I joined the frontend development team, where I helped develop the styles and layouts of the project using AngularJS running on Liferay. As we required more features, I developed Liferay portlets in Java that consumed API services and connected the data with the AngularJS app.
    <br />
    Apart from the frontend project, I also worked on some small projects in NodeJS. As we provided access to third-party APIs, we had a RAML documentation from other teams, and my task was to transform the RAML into an HTML+CSS+JS that we published on our site. I developed the server that handled the transformation, developed the templates and styles for the project, and reviewed the RAML. This side project helped me understand the importance of good API documentation in development.
    <br />
    After the beta release, we switched from Angular to Polymer and moved away from Liferay to a REST API for our SPA app. In this second stage, I joined the backend team, where I developed services for the internal API using Java and Spring.
  </WorkBlock>
  <WorkBlock
    companyName="Cloudroom"
    period="February 2015 - May 2015"
    location="Madrid 🇪🇸"
    role="Fullstack developer (Internship)"
  >
    During my master's degree, I worked as part of a development team consisting of other students. The project was based on Scrum methodology and followed 3-week iterations. Our goal was to design and develop a MOOC Learning Platform that focused on a social approach to learning. I was involved in both the design and development stages of the project. Our tech stack included angularjs, nodejs, coffeescript, neo4j, and MariaDB.
    <br />
    For the backend, I developed a REST API using nodejs and coffeescript. We used a graph database to handle the social approach of resources with many links to other entities. For resources that required more restricted requirements, we used a SQL database (MariaDB). We used mocha and chai for testing purposes. On the frontend side, we developed the frontend applications that consumed the services we created. We used angularjs version 1.
    <br />
    This project provided me with my first real-world experience in a web project, and I learned a great deal about the software development lifecycle.
  </WorkBlock>
</Section>