---
import { Icon } from "astro-icon";
import Section from "../Section.astro";
import SkillImage from "../SkillImage.astro";
---

<Section title="skills">
  <div class="wrapper">
    <SkillImage text="NodeJS" imagePath="./images/node.png" />
    <SkillImage text="ReactJS" imagePath="./images/react.png" />
    <SkillImage text="Javascript" imagePath="./images/js.png" />
    <SkillImage text="HTML" imagePath="./images/html5.png" />
    <SkillImage text="CSS" imagePath="./images/css.png" />
    <SkillImage text="Docker" imagePath="./images/node.png" />
    <SkillImage text="MongoDB" imagePath="./images/docker.png" />
    <SkillImage text="PostgreSQL" imagePath="./images/postgre.png" />
    <SkillImage text="Redis" imagePath="./images/redis.png" />
    <SkillImage text="Github" imagePath="./images/github.png" />
    <SkillImage text="AWS" imagePath="./images/aws.png" />
  </div>
</Section>

<style>
  .wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
  }
</style>
