---
interface Props {
	title: string;
	anchor?: string;
}

const { title, anchor } = Astro.props;
---
<div class="section_container" id={anchor}>
	<h2>{title}</h2>
	<div class="section_content">
		<slot />
	</div>
</div>
<style>
	h2 {
		margin: 0 0 15px 0;
    padding: 0;
    font-size: 2.25em;
    font-weight: 300;
    color: #0f1025;
    text-transform: uppercase;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
	}

	.section_container {
		width: 100%;
    padding: 72px 0 0;
		margin-bottom: 24px;
	}
	.section_content {
    width: min(100%, var(--content-max-width));
    padding: 8px var(--page-gutter) 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>
